@model Rationality.Models.ViewModels.RecipeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<form asp-action="Deatail" asp-controller="Recipes">
    <div class="wrapper">
        <section class="resipe-page">
            <div class="container">
                <div class="res-wrap">
                    <div class="card">
                        <div class="card-body">
                            <h1>@Model.Recipe.Name</h1>
                            <div class="img-wrap">
                                <div class="block-img card">
                                    <div class="card-body">
                                        <div class="res-img">
                                            <img src="@Model.Recipe.Picture " alt="breakfast">
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cal card">
                                    <div class="card-body">
                                        <div class="cal-food-block">
                                            <h4>Параметры</h4>
                                        </div>
                                        <h5>Энергетическая ценность: @Model.Recipe.Kcal</h5>
                                        <h5>Белки: @Model.Recipe.Proteins</h5>
                                        <h5>Жиры: @Model.Recipe.Fats</h5>
                                        <h5>Углеводы: @Model.Recipe.Carbohydrates</h5>
                                        <h5>Стоимость: @Model.Recipe.Price</h5>
                                    </div>
                                </div>
                                <div class="block-food card">
                                    <div class="card-body">
                                        <div class="up-food-block">
                                            <h4>Ингредиенты</h4>
                                        </div>
                                        @if (Model.RecipeProducts != null)
                                        {
                                        @foreach (var item in Model.RecipeProducts)
                                        {
                                            <h5>@item.Product.Name @item.Amount@item.Unit</h5>
                                        }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="cook">
                                <h4>Способ приготовления</h4>
                                <h6>
                                    @Model.Recipe.CookingMethod
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
@*<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kcal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kcal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proteins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CookingMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CookingMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
